@charset "utf-8";

/* CSS Document */


/*edit:wangshuo
@ update: 2019-01-24 */

html,
body,
div,
span,
object,
embed,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
cite,
code,
del,
dfn,
em,
img,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
section,
article {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: none;
}

ul,
li,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

i,
em,
cite,
dfn {
    font-style: normal;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}

.clearfix {
    *display: inline-block;
    *zoom: 100%;
}

.clear {
    clear: both;
    line-height: 1px;
    height: 1px;
    *display: inline;
    font-size: 1px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.alignL {
    text-align: left;
}

.alignC {
    text-align: center;
}

.alignR {
    text-align: right;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.none {
    display: none;
}

.block {
    display: block;
}

.overf {
    overflow: hidden;
}

.center {
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.trs3 {
    transition: all .3s;
}

:focus,
a {
    outline: none;
    -moz-outline-style: none;
}

a:visited,
a:link {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
    text-decoration: none;
}

ol li {
    list-style-type: decimal;
    list-style-position: inside;
}

body {
    font: 14px/1.5 "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", tahoma, Arial;
    color: #333;
}

a {
    transition: all .3s;
}

a:hover {
    filter: brightness(1.2);
}


/* .css{width:100px; height:100px; display:block; border:2px solid #000; margin:0; padding:0; float:left; position:absolute; top:100px; left:100px; font-size:52px; font-weight:bold; color:#832716; line-height:100px; text-align:center; background:#fff; overflow:hidden;} */


/*弹窗部分 https://static.web.sdo.com/dn/pic/dn_act/2016cj/btn-close.png*/

.alert-bg {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.dialog {
    position: absolute;
    z-index: 10001;
    color: #4b4b4b;
    top: 50px;
    display: none;
}

.close-dialog {
    width: 61px;
    height: 61px;
    display: block;
    position: absolute;
    top: 0;
    right: -60px;
    background: url(https://static.web.sdo.com/dnr/pic/0814ydy/icon-close.png) no-repeat;
}

input[type=number]::-webkit-inner-spin-button {
    display: none;
}

.register {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    z-index: 100;
}

.register .inCon {
    position: absolute;
    top: 110px;
    right: 0;
    width: 1761px;
    height: 932px;
    background: url(https://static.web.sdo.com/dnr/pic/0814ydy/p-lurk.png) no-repeat;
}

.close-register {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 1185px;
    width: 58px;
    height: 59px;
    display: block;
    background: url(https://static.web.sdo.com/dnr/pic/0814ydy/icon-close.png) no-repeat;
}

.iframe {
    position: absolute;
    top: 90px;
    left: 217px;
    right: 0;
    width: 284px;
    height: 397px;
    background: #fff;
}

.register .btn-downLoad {
    position: absolute;
    top: 580px;
    left: 230px;
    width: 261px;
    height: 81px;
    background: url(https://static.web.sdo.com/dnr/pic/0814ydy/btn-downLoad.png) no-repeat;
}

.register .btn-get {
    position: absolute;
    top: 590px;
    right: 740px;
    width: 225px;
    height: 49px;
    background: url(https://static.web.sdo.com/dnr/pic/0814ydy/btn-get.png) no-repeat;
}


/*第一部分*/

.wrap01 {
    position: relative;
    height: 1080px;
    overflow: hidden;
    min-width: 1300px;
    background: url(https://static.web.sdo.com/dnr/pic/0814ydy/p1-bg-0106.jpg?v1) no-repeat center top;
}

.inWrap {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.p1-mp4,
.p1-mask {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    background: url(https://static.web.sdo.com/dnr/pic/0814ydy/p1-mask.png);
}

.p1-slogan {
    top: 630px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

.box-download {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 770px;
    width: 548px;
    /*     width: 410px; */
    height: 155px;
}

.box-download a {
    position: absolute;
    background: url(https://static.web.sdo.com/dnr/pic/0814ydy/p1-btn-0120.png) no-repeat 0;
}

.box-download a:nth-of-type(1) {
    width: 152px;
    height: 158px;
}

.box-download a:nth-of-type(2) {
    width: 249px;
    height: 77px;
    top: 0;
    left: 152px;
    background-position: -152px 0;
}

.box-download a:nth-of-type(3) {
    width: 249px;
    height: 77px;
    top: 77px;
    left: 152px;
    background-position: -152px 100%;
}

.box-download a:nth-of-type(4) {
    width: 150px;
    height: 158px;
    top: 0;
    left: 401px;
    background-position: 100% 100%;
}

@media screen and (max-width:1300px) {
/*     .p1-slogan {
        top: 796px;
    }
    .box-download {
        top: 877px;
    }
    .box-download a {
        display: none;
    }
    .box-download a:nth-of-type(3),
    .btn-more {
        display: block;
        transform: scale(1.5) translate(-50px, -20px);
    } */
}

.btn-more {
    position: absolute;
	left:0;
	right:0;
	margin:0 auto;
    width: 225px;
    height: 49px;
    background: url(https://static.web.sdo.com/dnr/pic/0814ydy/btn-more.png) no-repeat;
}

.wrap01 .ico_cursor {
    bottom: 400px;
    left: 50%;
    margin-left: -15px;
    z-index: 100;
    width: 29px;
    height: 96px;
    color: #fff;
    background: url(https://static.web.sdo.com/fosol/pic/19act/1910tlzz/ico_cursor.png) no-repeat 50% 0;
}

.wrap01 .ico_point {
    left: 11px;
    top: 5px;
    animation: move 1s linear infinite alternate both;
}

@keyframes move {
    0% {
        transform: translate3d(0, 0, 0)
    }
    100% {
        transform: translate3d(0, 20px, 0)
    }
}

.wrap02 {
    position: relative;
    height: 1080px;
    overflow: hidden;
    min-width: 1300px;
    background: url(https://static.web.sdo.com/dnr/pic/0814ydy/p2-bg-0106.jpg) no-repeat center top;
}

.wrap02 .btn-more {
    left: 481px;
    bottom: 336px;
    width: 464px;
    height: 78px;
    background: url(https://static.web.sdo.com/dnr/pic/0814ydy/p2-btn-1224.png) no-repeat center top;
}

.p2-con {
    position: absolute;
    left: 44px;
    top: 140px;
}

.wrap03 {
    position: relative;
    height: 1080px;
    overflow: hidden;
    min-width: 1300px;
    background: url(https://static.web.sdo.com/dnr/pic/0814ydy/p3-bg-0120.jpg) no-repeat center top;
}

.wrap03 .btn-more {
    top: 900px;
    width: 408px;
    height: 77px;
    background: url(https://static.web.sdo.com/dnr/pic/0814ydy/p3-btn1-0120.png) no-repeat center top;
}

.wrap04 {
    position: relative;
    height: 1080px;
    overflow: hidden;
    min-width: 1300px;
    background: url(https://static.web.sdo.com/dnr/pic/0814ydy/p4-bg.jpg) no-repeat center top;
}

.wrap04 .btn-more {
    left: 270px;
    top: 880px;
    width: 408px;
    height: 77px;
    background: url(https://static.web.sdo.com/dnr/pic/0814ydy/btn4.png) no-repeat center top;
}

.fadeLeft {
    animation: fadeLeft .3s 1;
}

@keyframes fadeLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.btn-play {
    position: absolute;
    right: 45px;
    bottom: 501px;
    width: 130px;
    height: 130px;
    background: url(https://static.web.sdo.com/dn/pic/dn_24act/0713ydy/btn-play.png) no-repeat center;
    background-size: 100%;
}


/* 视频弹窗样式 */

.videoPop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: none;
    background: rgba(0, 0, 0, .9)
}

.videoPop .inVideoPop {
    width: 1320px;
    height: 743px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.videoPop .closeVideoBtn {
    width: 78px;
    height: 78px;
    display: block;
    position: absolute;
    right: -90px;
    top: 0px;
    cursor: pointer;
    background: url(https://static.web.sdo.com/dn/pic/dn_23act/04markL/close.png) no-repeat;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    z-index: 99;
}

.videoPop .closeVideoBtn:hover {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.videoPop #video {
    position: relative;
    left: 0;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.videoPop #video video {
    width: 100%;
    height: auto;
    background: black;
}


/* 视频弹窗样式 */


/*滚动条美化样式*/

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f7f7f7;
}

::-webkit-scrollbar-thumb {
    background: #4e4e4e;
}

.fixed {
    position: fixed;
    right: 20px;
    top: 30%;
}

.fixed img {
    display: block;
}